{% extends "base.html" %}

{% block records %}


<div class="records_panel">
    <h2>Records:</h2>
    <div>
        <div>
            <h3>TOP 5 done push-ups in last 7 days</h3>
            <ol>
                {% for instace in TOP5Last7Days %}
                <li>{{instace.user.user}}: {{instace.sum}}</li>
                {% endfor %}
            </ol>
        </div>
        <div>
            <h3>TOP 3 series in last 30 days</h3>
            <ol>
                {% for instace in TOP3Last30Days %}
                <li>{{instace.user.user}}: {{instace.count}}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>


{% endblock %}